<section class="jury">
	<div class="container section">
		<div class="grid-cell--col8 grid-cell--col12--mobile">
			<h2 class="title is-title">Discover our jury</h2>
			<p class="text is-body u-tspace--24">The toughest jury you could ever imagine. They are totally incorruptible so please avoid bribing them with a present.</p>
		</div>
		<div class="grid-cell--col12 u-tspace--64">
			<ul class="jury-list u-flex">
				<li class="jury-listItem">
					{{ partial "svg/people/ben.html" . }}
					<p class="title is-subtitle">Ben Mathews</p>
					<p class="text is-caption">Most sales oriented map</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/jose.html" . }}
					<p class="jury-name title is-subtitle">Jose Cruz</p>
					<p class="text is-caption">Most innovative</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/mamata.html" . }}
					<p class="title is-subtitle">Mamata Akella</p>
					<p class="text is-caption">Best cartography map</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/pablo.html" . }}
					<p class="title is-subtitle">Pablo Alonso</p>
					<p class="text is-caption">Best CARTO.js feedback</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/ashley.html" . }}
					<p class="title is-subtitle">Ashley Simcox</p>
					<p class="text is-caption">Most interesting topic</p>
				</li>
			</ul>

			<p class="text is-caption u-tspace--64">*They will also vote for the <strong>Best Map</strong>.</p>
		</div>
	</div>
</section>
